<mat-sidenav-container class="app-sidenav-container" autosize>
    <mat-sidenav #drawer class="app-sidenav  mat-elevation-z10" mode="push">
        <mat-nav-list>
           <mat-list-item *ngFor="let link of topNavLinks">
                <a  [routerLink]="link.path" routerLinkActive="text-green-600">
                    <div class="d-flex justify-content-between">
                        <div><mat-icon>{{link.icon}}</mat-icon></div>
                        <div>{{ link.name }}</div>
                    </div>
                </a>
           </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Finance - {{activePage}}</span>
        <span class="app-spacer"></span>
        <button mat-icon-button class="app-icon favorite-icon" aria-label="Example icon-button with heart icon">
           <mat-icon>favorite</mat-icon>
        </button>
    </mat-toolbar>

        <div class="container max-w-none">
            <router-outlet (activate)='onActivate($event)'></router-outlet>
        </div>
</mat-sidenav-container>
