{% extends "datatable.html" %}

{% block content %}
<div class="row top5 bottom5">
    <div class="col-md-12">
        <table class="table table-hover" id="funds">
            <thead>
                <tr>
                    <th class="text-left`">Broker</th>
                    <th class="text-left">Name</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Amount</th>
                    <th class="text-right">Capital</th> <!-- idx 4 -->
                    <th class="text-right">Value</th>
                    <th class="text-right">Profit</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="text-right"><div id="capital" ></div></th>
                    <th class="text-right"><div id="value" ></div></th>
                    <th class="text-right"><div id="profit"/></th>
                    <th></th>
                </tr>
            </tfoot>
          </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    var sum = {"value":0,"capital":0,"profit":0};
    $(document).ready(function () {
        $.getJSON("{{ url_for('fund_json')}}",
            function (data) {
                $.each(data,function(idx,d){
                    sum["capital"] += d[4];
                    sum["value"] += d[5];
                    sum["profit"] += d[6];
                });
                const num_cols = [2,3,4,5,6];
                populate_data(
                        '#funds',
                        function(d,callback,s){callback({'data':data});},
                        [[0, 'asc'], [1, 'asc']],
                        20,
                        [10, 20, 50, 100],
                        [
                            { "render": function(data, type, row){return data.toLocaleString();} ,"targets": num_cols },
                            { "className": "text-right", "targets": num_cols }
                        ],
                        null
                );
            });


            $('#funds').on('search.dt',function(e,settings){
                var table = $('#funds').DataTable();
                update_sum(table,'¥',4,sum["capital"],'#capital');
                update_sum(table,'¥',5,sum["value"],'#value');
                update_sum(table,'¥',6,sum["profit"],'#profit');
            });
        });

</script>
{% endblock %}
