{% extends "datatable.html" %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="detail" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <a id="detail_link" target="_blank">link</a>
                </h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<div class="row top5 bottom5">
    <div class="col-md-12">
        <table class="table table-hover" id="funds">
            <thead>
                <tr>
                    <th class="text-left`">Broker</th>
                    <th class="text-left">Name</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Amount</th>
                    <th class="text-right">Capital</th> <!-- idx 4 -->
                    <th class="text-right">Value</th>
                    <th class="text-right">Profit</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="text-right"><div id="capital" ></div></th>
                    <th class="text-right"><div id="value" ></div></th>
                    <th class="text-right"><div id="profit"></div></th>
                    <th></th>
                </tr>
            </tfoot>
          </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    var table;
    var selected_row_data;
    function showInstrumentDetail(instrument_id){
        var data = table.rows({page:'current'}).data();
        var row_idx = -1;
        $.each(data,function(idx,r){
           if(instrument_id==r[8]){
               row_idx = idx;
               return false;
           }
        });
        if(row_idx<0){
            alert("Cannot find instrument with id="+instrument_id);
        }
        else {
            var row_data = data[row_idx];
            var a =$('#detail_link');
            a.text(row_data[1]);
            a.attr("href",row_data[9]);
            $("#detail").modal();
        }
    }
    var sum = {"value":0,"capital":0,"profit":0};
    $(document).ready(function () {
        $.getJSON("{{ url_for('fund_json')}}",
            function (data) {
                $.each(data,function(idx,d){
                    sum["capital"] += d[4];
                    sum["value"] += d[5];
                    sum["profit"] += d[6];
                });
                const num_cols = [2,3,4,5,6];
                table = populate_data(
                        '#funds',
                        function(d,callback,s){callback({'data':data});},
                        [[0, 'asc'], [1, 'asc']],
                        20,
                        [10, 20, 50, 100],
                        [
                            { "render": function(data, type, row){
                                            //row[8] => index 8 in the json array assigned to this row, see FundReport
                                            return '<a href="#" onclick="showInstrumentDetail('+row[8]+');return false;">'+data+'</a>'
                                        }, "targets":1},
                            { "render": function(data, type, row){return data.toLocaleString();} ,"targets": num_cols },
                            { "className": "text-right", "targets": num_cols }
                        ],
                        null
                );
            });


            $('#funds').on('search.dt',function(e,settings){
                var table = $('#funds').DataTable();
                update_sum(table,'¥',4,sum["capital"],'#capital');
                update_sum(table,'¥',5,sum["value"],'#value');
                update_sum(table,'¥',6,sum["profit"],'#profit');
            });

        });

</script>
{% endblock %}
