{% extends "layout.html" %}

{% block content %}
<script>
    $(document).ready(function(){
        console.info("stock page")
    });
</script>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover" id="stocks">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Symbol</th>
                    <th>Price</th>
                    <th>Shares</th>
                    <th>Currency</th>
                    <th>Value</th>
                    <th>JPY</th>
                    <th>Liquidated</th>
                    <th>JPY</th>
                    <th>Rate Date</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
         </table>
    </div>
</div>

{% endblock %}
