{% extends "layout.html" %}

{% block content %}
<script>
    $(document).ready(function () {
        $.getJSON("{{ url_for('stock_json')}}",
            function (data) {
                var body = $('<tbody>');
                $.each(data,function(intrument_type,v){
                    $.each(v,function(idx,d){
                        var row = $('<tr>');
                        var value = d["value"];
                        var liquidated = d["liquidated"];
                        row.append("<td>" + intrument_type + "</td>")
                            .append("<td>" + d["symbol"] + "</td>")
                            .append('<td class="text-right">' + d["price"] + "</td>")
                            .append('<td class="text-right">' + d["shares"] + "</td>")
                            .append("<td>" + value["ccy"] + "</td>")
                            .append('<td class="text-right">' + value[value["ccy"]] + "</td>")
                            .append('<td class="text-right">' + value["JPY"] + "</td>")
                            .append('<td class="text-right">' + liquidated[liquidated["ccy"]] + "</td>")
                            .append('<td class="text-right">' + liquidated["JPY"] + "</td>")
                            .append("<td>" + liquidated["rate_date"] + "</td>");
                        body.append(row);
                    });
                });
                $("#stocks tbody").replaceWith(body);
            });
        });
        
</script>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover" id="stocks">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Symbol</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Shares</th>
                    <th>Currency</th>
                    <th class="text-right">Value</thclass="text-right">
                    <th class="text-right">JPY</th>
                    <th class="text-right">Liquidated</th>
                    <th class="text-right">JPY</th>
                    <th>Xccy Date</th>
                </tr>
            </thead>
            <tbody></tbody>
         </table>
    </div>
</div>

{% endblock %}
