{% extends "datatable.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover" id="stocks">
            <thead>
                <tr>
                    <th class="text-right">Type</th>
                    <th class="text-right">Symbol</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Shares</th>
                    <th class="text-right">Ccy</th>
                    <th class="text-right">Value</th>
                    <th class="text-right">JPY</th>
                    <th class="text-right">Liquidated</th>
                    <th class="text-right">JPY</th>
                    <th>Xccy Date</th>
                </tr>
            </thead>
            <tbody></tbody>
            <thead>
                <tr>
                    <th>SUM</th>
                    <th/>
                    <th/>
                    <th/>
                    <th/>
                    <th class="text-right"><div id="value"/></th>
                    <th class="text-right"><div id="value-jpy" /></th>
                    <th class="text-right"><div id="liq" /></th>
                    <th class="text-right"><div id="liq-jpy"/></th>
                    <th/>
                </tr>
            </thead>
         </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function () {
        $.getJSON("{{ url_for('stock_json')}}",
            function (data) {
                var body = $('<tbody>');
                var td = '<td class="text-right">';
                var sum = {"value":0,"value_jpy":0,"liquidated":0,"liquidated_jpy":0};
                $.each(data,function(instrument_type,v){
                    $.each(v,function(idx,d){
                        var row = $('<tr>');
                        var value = d["value"];
                        var liquidated = d["liquidated"];
                        sum["value"] += value[value["ccy"]];
                        sum["value_jpy"] += value["JPY"];
                        sum["liquidated"] += liquidated[liquidated["ccy"]];
                        sum["liquidated_jpy"] += liquidated["JPY"];
                        row.append($(td).append(instrument_type))
                            .append($(td).append(d["symbol"]))
                            .append($(td).append(d["price"].toLocaleString()))
                            .append($(td).append(d["shares"]))
                            .append($(td).append(value["ccy"]))
                            .append($(td).append(value[value["ccy"]].toLocaleString()))
                            .append($(td).append(value["JPY"].toLocaleString()))
                            .append($(td).append(liquidated[liquidated["ccy"]].toLocaleString()))
                            .append($(td).append(liquidated["JPY"].toLocaleString()))
                            .append($('<td>').append(liquidated["rate_date"]));
                        body.append(row);
                    });
                });
                $("#stocks tbody").replaceWith(body);
                $("#value").text(sum["value"].toLocaleString());
                $("#value-jpy").text(sum["value_jpy"].toLocaleString());
                $("#liq").text(sum["liquidated"].toLocaleString());
                $("#liq-jpy").text(sum["liquidated_jpy"].toLocaleString());
            });
        });

</script>
{% endblock %}