{% extends "position.jinja2" %}

{% block content %}
{{ super() }}
<div class="row top10 bottom5">
    <div class="col-md-12">
        <table class="table table-hover" id="funds">
            <thead>
            <tr>
                <th class="text-left`">Broker</th>
                <th class="text-left">Name</th>
                <th class="text-Right">Expense</th>
                <th class="text-right">Price</th>
                <th class="text-right">Amount</th>
                <th class="text-right">Capital</th> <!-- idx 5 -->
                <th class="text-right">Value</th>
                <th class="text-right">Profit</th>
                <th class="text-right">ROI</th>
                <th>Date</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th class="text-right">
                    <div id="expense"></div>
                </th>
                <th></th>
                <th></th>
                <th class="text-right">
                    <div id="capital"></div>
                </th>
                <th class="text-right">
                    <div id="value"></div>
                </th>
                <th class="text-right">
                    <div id="profit"></div>
                </th>
                <th></th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script>
    var sum = {value: 0, capital: 0, profit: 0, expense: 0};
    var table; //needed by instrument detals callback

    $(document).ready(function () {
        $.getJSON("{{ url_for('api.report_fund_performance')}}",
                function (data) {
                    $.each(data, function (idx, d) {
                        sum["expense"] += d['expense_ratio'];
                        sum["capital"] += d['capital'];
                        sum["value"] += d['value'];
                        sum["profit"] += d['profit'];
                        d['roi'] = 100 * d['profit'] / d['capital']
                    });
                   const num_cols = [2, 3, 4, 5, 6, 7, 8];
                   table = populate_data(
                           '#funds',
                           function(d,callback,s){
                                callback({'data':data});
                            },
                            [[0, 'asc'], [1, 'asc']],
                            20,
                            [10, 20, 50, 100],
                            [
                                {
                                    "render": function (data, type, row) {
                                        return '<a href="#" onclick="showInstrumentDetail(' + row['instrument_id'] + ');return false;">' + data + '</a>'
                                    }, "targets": 1
                                },
                                {
                                    "render": function (data, type, row) {
                                        return format_num(data);
                                    }, "targets": num_cols
                                },
                                {"className": "text-right", "targets": num_cols},
                            ],
                            null,
                            {"columns": [
                                { "data": "broker" },
                                { "data": "name" },
                                { "data": "expense_ratio" },
                                { "data": "price" },
                                { "data": "amount" },
                                { "data": "capital" },
                                { "data": "value" },
                                { "data": "profit" },
                                { "data": "roi" },
                                { "data": "date" },
                            ]} 
                    );
        });

        install_detail_event_callback();

        $('#funds').on('search.dt', function (e, settings) {
            var table = $('#funds').DataTable();
            update_sum(table, '¥', 5, sum["capital"], '#capital');
            update_sum(table, '¥', 6, sum["value"], '#value');
            update_sum(table, '¥', 7, sum["profit"], '#profit');
            update_avg(table, '', 2, sum["expense"], '#expense');
        });

    });

</script>
{% endblock %}
