{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <h2 class="text-center">Asset Class</h2>
        <div id="pieAsset"></div>
    </div>
    <div class="col-md-6">
        <h2 class="text-center">Region</h2>
        <div id="pieRegion"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Total Market Value: </p><p id="totalValue"></p>
    </div>
 </div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/scripts/chart.js"></script>
<script>
    $(document).ready(function(){
        $.getJSON("{{ url_for('sum_json')}}",
            function (data){
                $('#pieAsset').highcharts(pieChartOptions(null, 'Market Value', data['asset'], false));
                $('#pieRegion').highcharts(pieChartOptions(null, 'Market Value', data['region'], false));
                $('#totalValue').text(data['total'].toLocaleString());
            });
    });
</script>
{% endblock %}
