{% extends "layout.jinja2" %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">Wealth Allocations</h2>
            <ul id="tab1" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#asset">Asset</a></li>
                <li><a data-toggle="tab" href="#region">Region</a></li>
                <li><a data-toggle="tab" href="#country">Country</a></li>
            </ul>
            <div class="tab-content">
                <div id="asset" class="tab-pane fade">
                    <div id="pieAsset"></div>
                </div>
                <div id="region" class="tab-pane fade">
                    <div id="pieRegion"></div>
                </div>
                <div id="country" class="tab-pane fade">
                    <div id="pieCountry"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="text-center">Instrument Allocations</h2>
            <ul id="tab2" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#stock">Stock/ETF</a></li>
                <li><a data-toggle="tab" href="#fund">Mutual Funds</a></li>
            </ul>
            <div class="tab-content">
                <div id="stock" class="tab-pane fade">
                    <div id="pieStock"></div>
                </div>
                <div id="fund" class="tab-pane fade">
                    <div id="pieFund"></div>
                </div>
            </div>
        </div>
     </div>

    <div class="row">
        <div class="col-md-12">
            <p>Total Market Value: </p>
            <p id="totalValue"></p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/finance/scripts/chart.js"></script>
    <script>
        $(document).ready(function () {
            $.getJSON("{{ url_for('finance_page.sum_json')}}",
                function (data) {
                    $('#pieCountry').highcharts(pieChartOptions(null, 'Market Value', data['country'], false));
                    $('#pieRegion').highcharts(pieChartOptions(null, 'Market Value', data['region'], false));
                    $('#pieAsset').highcharts(pieChartOptions(null, 'Market Value', data['asset'], false));
                    $('#pieStock').highcharts(pieChartOptions(null, 'Market Value', data['stock'], false));
                    $('#pieFund').highcharts(pieChartOptions(null, 'Market Value', data['funds'], false));
                    $('#totalValue').text(data['total'].toLocaleString());

                    //if any of the 2 show below is missing, the chart won't flow
                    $('.nav-tabs').tab("show");
                    $('#tab1 a[href="#asset"]').tab("show");
                    $('#tab2 a[href="#stock"]').tab("show");
                });

        });
    </script>
{% endblock %}
