{% extends "datatable.jinja2" %}

{% block content %}
    <div class="row">
        <h2 class="text-center">Overview</h2>
    </div>
    <div class="row top5 bottom5">
        <div class="col-md-12">
            <table class="table table-hover" id="overview">
                <thead>
                <tr>
                    <th rowspan="2" class="text-left`">Type</th>
                    <th rowspan="2" class="text-left">CCY</th>
                    <th colspan="2" class="text-right">Market Value</th>
                    <th colspan="1" class="text-right">Profit</th>
                </tr>
                <tr>
                    <th class="text-right">CCY</th>
                    <th class="text-right">JPY</th>
                    <th class="text-right">JPY</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="text-right">
                        <div id="value_jpy"></div>
                    </th>
                    <th class="text-right">
                        <div id="profit_jpy"></div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="text-center">Wealth Allocations</h2>
            <ul id="tab1" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#asset">Asset</a></li>
                <li><a data-toggle="tab" href="#region">Region</a></li>
                <li><a data-toggle="tab" href="#country">Country</a></li>
            </ul>
            <div class="tab-content">
                <div id="asset" class="tab-pane fade">
                    <div id="pieAsset" class="text-center"></div>
                </div>
                <div id="region" class="tab-pane fade">
                    <div id="pieRegion">></div>
                </div>
                <div id="country" class="tab-pane fade">
                    <div id="pieCountry">></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="text-center">Instrument Allocations</h2>
            <ul id="tab2" class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#stock">Stock/ETF</a></li>
                <li><a data-toggle="tab" href="#fund">Mutual Funds</a></li>
            </ul>
            <div class="tab-content">
                <div id="stock" class="tab-pane fade">
                    <div id="pieStock"></div>
                </div>
                <div id="fund" class="tab-pane fade">
                    <div id="pieFund"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 top5 bottom5">
            <div class="btn-toolbar" role="toolbar" aria-label="Instrument filter toolbar">
                <div id="filters" class="btn-group" role="group">
                    <button type="button" class="btn btn-success" id="ALL">All</button>
                </div>
                <!--
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-warning" id="x">Customize Filter</button>
                </div>
                -->
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/static/finance/scripts/chart.js"></script>
    <script type="text/javascript">
        var filter_url = {"ALL": "{{ url_for('finance_page.instrument_filter',name='ALL') }}"};
        function to_chart_data(data) {
            return {'y': data['JPY'], 'name': data['symbol']};
        }


        function calc_overview(t, data) {
            //see /sum.json, stock or ETF or fund
            var sum = {};
            var rows = [];
            $.each(data[t], function (i, v) {
                    if (v['ccy'] in sum) {
                        sum[v['ccy']]['value'] += v['value'];
                        sum[v['ccy']]['JPY'] += v['JPY'];
                        sum[v['ccy']]['profit'] += v['profit'];
                    }
                    else {
                        sum[v['ccy']] = {'value': v['value'], 'JPY': v['JPY'], 'profit': v['profit']};
                    }
            });
            $.each(sum, function (n, v) {
                rows.push([t, n, v['value'], v['JPY'], v['profit']]);
            });
            return rows;
        }

        function refresh(data) {
            $('#pieCountry').highcharts(pieChartOptions(null, 'Market Value', data['country'], false));
            $('#pieRegion').highcharts(pieChartOptions(null, 'Market Value', data['region'], false));
            $('#pieAsset').highcharts(pieChartOptions(null, 'Market Value', data['asset'], false));

            var stocks = [];
            $.each(data['Stock'], function (i, v) {
                    stocks.push(to_chart_data(v));
            });
            $.each(data['ETF'], function (i, v) {
                    stocks.push(to_chart_data(v));
            });

            $('#pieStock').highcharts(pieChartOptions(null, 'Market Value', stocks, false));

            var funds = [];
            $.each(data['Funds'], function (i, v) {
                    funds.push(to_chart_data(v));
            });
            $('#pieFund').highcharts(pieChartOptions(null, 'Market Value', funds, false));

            if ($.fn.dataTable.isDataTable('#overview')) {
                table = $('#overview').DataTable();
                table.destroy();
            }
            //populate overview table
            var overview_data = calc_overview('Funds', data).concat(calc_overview('Stock', data),
                    calc_overview('ETF', data));
            var overview_table = populate_data(
                    '#overview',
                    function (d, callback, s) {
                        callback({
                            'data': overview_data
                        });
                    },
                    null,
                    100,
                    null,
                    [
                        {
                            "render": function (data, type, row) {
                                return data.toLocaleString();
                            }, "targets": [2, 3, 4]
                        },
                        {"className": "text-right", "targets": [2, 3, 4]},
                    ],
                    null,
                    {
                        searching: false,
                        paging: false
                    }
            );

            var total_value  = 0;
            var total_profit = 0;
            $.each(overview_data, function(i,v){
                total_value += v[3];
                total_profit+= v[4];
            });

            update_sum(overview_table, '¥', 3, total_value, '#value_jpy');
            update_sum(overview_table, '¥', 4, total_profit, '#profit_jpy');
        }

        function filter_btn_clicked() {
            var filter_id = $(this).attr('id');
            $("#filters").children().removeClass('btn-success');
            $("#filters").children().addClass('btn-primary');
            $(this).removeClass('btn-primary');
            $(this).addClass('btn-success');

            $.getJSON(filter_url[filter_id],function (data) {
                //console.log(JSON.stringify(data,null,4));
                refresh(data);
            });
        }

        $(document).ready(function () {
            $.getJSON("{{ url_for('finance_page.sum_json')}}",
                    function (data) {
                        //reflow chart when its host tab is shown, otherwise the chart won't position itself at center
                        $('.nav-tabs a').on('shown.bs.tab', function (event) {
                            var x = $(event.target).text();         // active tab
                            var chart_selector;
                            if (x == 'Asset') {
                                chart_selector = "#pieAsset";
                            }
                            else if (x == 'Region') {
                                chart_selector = "#pieRegion";
                            }
                            else if (x == 'Country') {
                                chart_selector = "#pieCountry";
                            }
                            else if (x == 'Stock/ETF') {
                                chart_selector = "#pieStock";
                            }
                            else {
                                chart_selector = "#pieFund";
                            }
                            var chart = $(chart_selector).highcharts();
                            chart.reflow();
                        });

                        //populate filter buttons and install click handler
                        {% for f in filters %}
                            $("#filters").append("<button type=\"button\" class=\"btn btn-primary\" id=\"{{ f }}\">{{ f }}</button>");
                            $('#{{ f }}').click(filter_btn_clicked);
                            filter_url["{{ f }}"] = "{{ url_for('finance_page.instrument_filter',name=f) }}";
                        {% endfor %}
                        $("#ALL").click(filter_btn_clicked);

                        refresh(data);

                        //if any of the 2 show below is missing, the chart won't flow
                        $('.nav-tabs').tab("show");
                        $('#tab1 a[href="#asset"]').tab("show");
                        $('#tab2 a[href="#stock"]').tab("show");
                    });
        });
    </script>
{% endblock %}
