{% extends "layout.jinja2" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Wealth Allocations</h2>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#asset">Asset</a></li>
                <li><a data-toggle="tab" href="#region">Region</a></li>
                <li><a data-toggle="tab" href="#country">Country</a></li>
            </ul>
            <div class="tab-content">
                <div id="asset" class="tab-pane fade">
                    <div id="pieAsset"></div>
                </div>
                <div id="region" class="tab-pane fade">
                    <div id="pieRegion"></div>
                </div>
                <div id="country" class="tab-pane fade">
                    <div id="pieCountry"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>Total Market Value: </p>
            <p id="totalValue"></p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/static/finance/scripts/chart.js"></script>
    <script>
        $(document).ready(function () {
            $.getJSON("{{ url_for('finance_page.sum_json')}}",
                function (data) {
                    $('#pieCountry').highcharts(pieChartOptions(null, 'Market Value', data['country'], false));
                    $('#pieRegion').highcharts(pieChartOptions(null, 'Market Value', data['region'], false));
                    $('#pieAsset').highcharts(pieChartOptions(null, 'Market Value', data['asset'], false));
                    $('#totalValue').text(data['total'].toLocaleString());

                    $('.nav-tabs a').on('shown.bs.tab', function (event) {
                        var x = $(event.target).text();         // active tab
                        var chart_selector;
                        if (x == 'Asset') {
                            chart_selector = "#pieAsset";
                        }
                        else if (x == 'Region') {
                            chart_selector = "#pieRegion";
                        }
                        else {
                            chart_selector = "#pieCountry";
                        }
                        var chart = $(chart_selector).highcharts();
                        chart.reflow();
                    });

                    //if any of the 2 show below is missing, the chart won't flow
                    $('.nav-tabs').tab("show");
                    $('.nav-tabs a[href="#asset"]').tab("show");
                });

        });
    </script>
{% endblock %}
