{% extends "datatable.jinja2" %}

{% block content %}
     <div class="row">
        <div class="col-md-12 top5 bottom5">
            <div class="btn-toolbar" role="toolbar" aria-label="Instrument portfolio toolbar">
                <div id="portfolios" class="btn-group" role="group">
                    <button type="button" class="btn btn-success" id="portfolio-All">All</button>
                </div>
                <!--
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-warning" id="x">Customize Filter</button>
                </div>
                -->
            </div>
        </div>
    </div>
     <div id="portfolio-bars" class="row" style="display: none;">
        <div class="col-md-12">
            <div id="barPortfolio"></div>
        </div>
        <div class="col-md-12">
            <form id="rebalance_inputs" class="form-inline">
                <button id="rebalance_btn" type="button" class="btn btn-primary mb-2" onclick="rebalance()">Rebalance</button>
            </form>
        </div>
    </div>

<div class="modal fade" id="rebalancing_popup" role="dialog">
     <!--
     https://stackoverflow.com/questions/42896820/modal-width-increase
     https://getbootstrap.com/docs/4.1/utilities/sizing/
     -->
    <div class="modal-dialog mw-100 w-50">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Rebalancing
                </h4>
            </div>
            <div class="modal-body">
                {% for plan in rebalancing_plans %}
                <div id="{{plan.id}}"/>
                    <div class="col-md-12">
                        <h5>
                          {{plan.name}}
                        </h5>
                        <h6 id="{{plan.id}}_new_funds" class="text-secondary">
                        </h6>
                    </div>
                    <table id="{{plan.id}}_tbl" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
                        <thead>
                            <tr>
                            <th>Instrument</th>
                            <th class="text-right">Shares</th>
                            <th class="text-right">Closing</th>
                            <th class="text-right">Current(%)</th>
                            <th class="text-right">Target(%)</th>
                            <th class="text-right">Deviation</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="/static/finance/scripts/portfolio.js"></script>
{% endblock %}


