{% extends "datatable.jinja2" %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="detail" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <a id="detail_link" target="_blank">link</a>
                </h4>
            </div>
            <div class="modal-body">
            <ul id="tab1" class="nav nav-tabs" role="tablist">
                <li class="nav-item"><a class="nav-link active" id="asset-tab" data-toggle="tab" href="#asset" role="tab" aria-controls="asset" aria-selected="true">Asset</a></li>
                <li class="nav-item"><a class="nav-link" id="region-tab" data-toggle="tab" href="#region" role="tab" aria-controls="region" aria-selected="false">Region</a></li>
                <li class="nav-item"><a class="nav-link" id="country-tab" data-toggle="tab" href="#country" role="tab" aria-controls="country" aria-selected="false">Country</a></li>
            </ul>
            <div class="tab-content" id="tab1Content">
                <div id="asset" class="tab-pane fade show active" role="tabpanel" aria-labelledby="asset-tab">
                    <div id="pieAsset" class="text-center"></div>
                </div>
                <div id="region" class="tab-pane fade" role="tabpanel" aria-labelledby="region-tab">
                    <div id="pieRegion"></div>
                </div>
                <div id="country" class="tab-pane fade" role="tabpanel" aria-labelledby="country-tab">
                    <div id="pieCountry"></div>
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/finance/scripts/chart.js"></script>
<script>
    var detail_instrument_id, instrument_name;
    //url_for is a jinjia2 function and will only be evaluated on server side once,
    //that is before we know the clicked instrument's id.
    //As a workaround we use 0 here and then use regex to replace it with real id later.
    //We prefer to use url_for as it solves the server side path automatically for us
    const asset_allocation_url  = "{{url_for('finance_page.asset_allocation_json',instrument=0)}}";
    const country_allocation_url = "{{url_for('finance_page.country_allocation_json',instrument=0)}}";
    const region_allocation_url = "{{url_for('finance_page.region_allocation_json',instrument=0)}}";

    function showInstrumentDetail(instrument_id) {
        var data = table.rows({page: 'current'}).data();
        var row_idx = -1;
        $.each(data, function (idx, r) {
            //instrument_id_idx is passed to template from views
            if (instrument_id == r[{{instrument_id_idx}}]) {
                row_idx = idx;
                return false;
            }
        });
        if (row_idx < 0) {
            alert("Cannot find instrument with id=" + instrument_id);
        }
        else {
            var row_data = data[row_idx];
            var a = $('#detail_link');
            instrument_name = row_data[1].replace(/（.*）/i,"");
            a.text(instrument_name);
            a.attr("href", row_data[{{url_idx}}]);
            //We are putting highcharts inside the modal window.
            //The problem is the chart does not know when to reflow itself to fit the container.
            //So we defer the chart building until modal is shown, we remember the instrument id here
            detail_instrument_id = instrument_id;
            $("#detail").modal();
        }
    }


    function detailShown() {
        var url = asset_allocation_url.replace(/0/,detail_instrument_id);
        $.getJSON(url, function (data) {
            $('#pieAsset').highcharts(pieChartOptions(null, 'Asset', data, true));
            //do the reflow below to force it to refit again - and the animation will be gone
            /*
             var chart = $("#pieAsset").highcharts();
             chart.reflow();
             */
        });

        url = region_allocation_url.replace(/0/,detail_instrument_id);
        $.getJSON(url, function (data) {
            $('#pieRegion').highcharts(pieChartOptions(null, 'Region', data, true));
        });

        url = country_allocation_url.replace(/0/,detail_instrument_id);
        $.getJSON(url, function (data) {
            $('#pieCountry').highcharts(pieChartOptions(null, 'Country', data, true));
        });
    }

    function install_detail_event_callback(){
        $('#detail').on('shown.bs.modal', detailShown);

        $('.nav-tabs a').on('shown.bs.tab', function(event){
            var x = $(event.target).text();         // active tab
            //var y = $(event.relatedTarget).text();  // previous tab
            //console.log(y+'=>'+x);
            var chart_selector;
            if(x=='Asset'){
                chart_selector = "#pieAsset";
            }
            else if(x=='Region'){
                chart_selector = "#pieRegion";
            }
            else{
                chart_selector = "#pieCountry";
            }
            var chart = $(chart_selector).highcharts();
            chart.reflow();
        });
    }

</script>
{% endblock %}
