{% extends "position.jinja2" %}

{% block content %}
{{ super() }}
<div class="row top10 bottom5">
   <div class="col-md-12">
        <table class="table table-hover" id="stocks">
            <thead>
            <tr>
                <th rowspan="2" class="text-right">Type</th>
                <th rowspan="2" class="text-right">Symbol</th>
                <th rowspan="2" class="text-right">Price</th>
                <th rowspan="2" class="text-right">Shares</th>
                <th rowspan="2" class="text-right">CCY</th>
                <th colspan="2" class="text-right">VWAP</th>
                <th colspan="2" class="text-right">Market Value</th>
                <th colspan="2" class="text-right" data-toggle="tooltip" data-placement="right" title="Profit of stocks still in the market">Market Profit(?)</th>
                <th colspan="2" class="text-right" data-toggle="tooltip" data-placement="right" title="Gross liquidation value. Negative value indicates still in the market">Liquidated(?)</th>
                <th colspan="2" class="text-right" data-toggle="tooltip" data-placement="right" title="Overall profit">Profit(?)</th>
            </tr>
            <tr>
                <th class="text-right">CCY</th>
                <th class="text-right">JPY</th>
                <th class="text-right">CCY</th>
                <th class="text-right">JPY</th>
                <th class="text-right">CCY</th>
                <th class="text-right">JPY</th>
                <th class="text-right">CCY</th>
                <th class="text-right">JPY</th>
                <th class="text-right">CCY</th>
                <th class="text-right">JPY</th>
            </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Xccy Date</th>
                    <th><div id="xccy_date"></div></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="text-right"><div id="avg-cost"></div></th>
                    <th class="text-right"><div id="avg-cost-jpy" ></div></th>
                    <th class="text-right"><div id="value"></div></th>
                    <th class="text-right"><div id="value-jpy" ></div></th>
                    <th class="text-right"><div id="market-profit" ></div></th>
                    <th class="text-right"><div id="market-profit-jpy" ></div></th>
                    <th class="text-right"><div id="liq" ></div></th>
                    <th class="text-right"><div id="liq-jpy"></div></th>
                    <th class="text-right"><div id="profit" ></div></th>
                    <th class="text-right"><div id="profit-jpy" ></div></th>
                </tr>
            </tfoot>
         </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    var sum = {/*"value": {"USD":0,...}*/"value_jpy":0,/*"liquidated":{"USD":0,...}*/"liquidated_jpy":0};
    var table; //needed by instrument detals callback
    function update_sum_by_ccy(type, ccy, value){
        if( type in sum ) {
        }
        else{
            sum[type] = {}
        }
        if(ccy in sum[type]){
            sum[type][ccy]+=value;
        }
        else{
            sum[type][ccy]=value;
        }
    }

    function sum_by_ccy(table, col_idx, type, footer_id){
        var value = table.column(col_idx,{search:'applied'}).data();
        var currency = table.column(4,{search:'applied'}).data();
        var total_html = '';
        $.each(sum[type], function(ccy, v){
            total_html += format_num(v) + ' ' +ccy + '<br>';
        });

        //console.log('table data len=',table.data().length+',search applied data len='+value.length);
        if(value.length == table.data().length){
            $(footer_id).html(total_html);
        }
        else{
            var by_ccy_html= '';
            var filtered_sum = {};
            for(i=0;i<value.length;++i){
                if(currency[i] in filtered_sum){
                    filtered_sum[currency[i]]+=value[i];
                }
                else{
                    filtered_sum[currency[i]]=value[i];
                }
            }
            $.each(filtered_sum, function(ccy, v){
                by_ccy_html += format_num(v) + ' ' +ccy + '<br>';
            });

            $(footer_id).html(total_html + '<div class="filtered_sum">'+by_ccy_html+'</div>');
        }
    }


    $(document).ready(function () {
        $("div.toolbar").html('<label class="checkbox-inline"><input type="checkbox" value="" id="showClosedPos">Show Closed Positions</label>');
        $.getJSON("{{ url_for('finance_page.stock_json')}}",
            function (data) {
                var rows = [];
                $.each(data, function (instrument_type, v) {
                    $.each(v, function (idx, d) {
                        var row ={'type': instrument_type};
                        var value = d["value"];
                        var liquidated = d["liquidated"];
                        var vwap = d["vwap"];
                        var market_profit = d["market_profit"];
                        update_sum_by_ccy("value", value["ccy"], value[value["ccy"]]);
                        sum["value_jpy"] += value["JPY"];
                        update_sum_by_ccy("liquidated", liquidated["ccy"], liquidated[liquidated["ccy"]]);
                        sum["liquidated_jpy"] += liquidated["JPY"];

                        row["name"] = d["symbol"],
                        row["price"] = d["price"],
                        row["shares"] = d["shares"],
                        row["ccy"] = value["ccy"],
                        row["vwap_ccy"] = vwap[vwap["ccy"]],
                        row["vwap_jpy"] = vwap["JPY"],
                        row["value_ccy"] = value[value["ccy"]],
                        row["value_jpy"] = value["JPY"],
                        row["mkt_profit_ccy"] = market_profit[market_profit["ccy"]],
                        row["mkt_profit_jpy"] = market_profit["JPY"],
                        row["liq_ccy"] = liquidated[liquidated["ccy"]],
                        row["liq_jpy"] = liquidated["JPY"],
                        row["profit_ccy"] = value[value["ccy"]] + liquidated[liquidated["ccy"]], //profit
                        row["profit_jpy"] = value["JPY"] + liquidated["JPY"],
                        row["rate_date"] = liquidated["rate_date"],
                        row["instrument_id"] = d["instrument"],
                        row["url"] = d["url"]
                        rows.push(row);
                    });
                });
                const num_cols = [2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14];
                const txt_cols = [0, 1, 4];
                table = populate_data(
                    '#stocks',
                    function (d, callback, s) {
                        callback({'data': rows});
                    },
                    [[0, 'asc'], [1, 'asc']],
                    15,
                    null,
                    [
                        {
                            "render": function (data, type, row) {
                                return '<a href="#" onclick="showInstrumentDetail(' + row['instrument_id'] + ');return false;">' + data + '</a>'
                            }, "targets": 1
                        },
                        {
                            "render": function (data, type, row) {
                                return format_num(data);
                            }, "targets": num_cols
                        },
                        {"className": "text-right", "targets": num_cols},
                        {"className": "text-center", "targets": txt_cols},
                    ],
                    null,
                    {
                        'rowCallback': function (row, data, index) {
                            if (data["shares"] == 0) {
                                //closed position
                                for (i = 5; i < 11; i++) {
                                    $(row).find('td:eq(' + i + ')').html('');
                                }
                            }
                            else if (data["price"] != data["vwap_ccy"]) { //market price is different than vwap
                                var cell_vwap = $(row).find('td:eq(5)');
                                var cell_vwap_jpy = $(row).find('td:eq(6)');
                                var cell_market_profit = $(row).find('td:eq(9)');
                                var cell_market_profit_jpy = $(row).find('td:eq(10)');
                                var color = data["price"] < data["vwap_ccy"] ? 'red' : 'green';
                                cell_vwap.css('color', color);
                                cell_vwap_jpy.css('color', color);
                                cell_market_profit.css('color', color);
                                cell_market_profit_jpy.css('color', color);
                            }
                        },
                        'columns': [
                            {"data": "type"},
                            {"data": "name"},
                            {"data": "price"},
                            {"data": "shares"},
                            {"data": "ccy"},
                            {"data": "vwap_ccy"},
                            {"data": "vwap_jpy"},
                            {"data": "value_ccy"},
                            {"data": "value_jpy"},
                            {"data": "mkt_profit_ccy"},
                            {"data": "mkt_profit_jpy"},
                            {"data": "liq_ccy"},
                            {"data": "liq_jpy"},
                            {"data": "profit_ccy"},
                            {"data": "profit_jpy"}
                        ]
                    }
                );
                $('#xccy_date').html(rows[0][15]);
            });

            install_detail_event_callback();

            $('#stocks').on('search.dt',function(e,settings){
                var table = $('#stocks').DataTable();
                sum_by_ccy(table, 7 ,"value",'#value');
                update_sum(table,'¥',8 ,sum["value_jpy"],'#value-jpy');
                sum_by_ccy(table,11 ,"liquidated",'#liq');
                update_sum(table,'¥',12 ,sum["liquidated_jpy"],'#liq-jpy');
                //update_sum(table,'$',13 ,sum["value"]+sum["liquidated"],'#profit');
                //update_sum(table,'¥',14,sum["value_jpy"]+sum["liquidated_jpy"],'#profit-jpy');
            });
        });
</script>
{% endblock %}
