{% extends "position.jinja2" %}

{% block content %}
{{ super() }}
<div class="row top5 bottom5">
   <div class="col-md-12">
        <table class="table table-hover" id="stocks">
            <thead>
            <tr>
                <th rowspan="2" class="text-right">Type</th>
                <th rowspan="2" class="text-right">Symbol</th>
                <th rowspan="2" class="text-right">Price</th>
                <th rowspan="2" class="text-right">Shares</th>
                <th rowspan="2" class="text-right">CCY</th>
                <th colspan="2" class="text-right">Average Cost</th>
                <th colspan="2" class="text-right">Market Value</th>
                <th colspan="2" class="text-right" data-toggle="tooltip" data-placement="right" title="Profit of stocks still in the market">Market Profit(?)</th>
                <th colspan="2" class="text-right" data-toggle="tooltip" data-placement="right" title="Gross liquidation value. Negative value indicates still in the market">Liquidated(?)</th>
                <th colspan="2" class="text-right" data-toggle="tooltip" data-placement="right" title="Overall profit">Profit(?)</th>
            </tr>
            <tr>
                <th class="text-right">CCY</th>
                <th class="text-right">JPY</th>
                <th class="text-right">CCY</th>
                <th class="text-right">JPY</th>
                <th class="text-right">CCY</th>
                <th class="text-right">JPY</th>
                <th class="text-right">CCY</th>
                <th class="text-right">JPY</th>
                <th class="text-right">CCY</th>
                <th class="text-right">JPY</th>
            </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Xccy Date</th>
                    <th><div id="xccy_date"></div></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="text-right"><div id="avg-cost"></div></th>
                    <th class="text-right"><div id="avg-cost-jpy" ></div></th>
                    <th class="text-right"><div id="value"></div></th>
                    <th class="text-right"><div id="value-jpy" ></div></th>
                    <th class="text-right"><div id="market-profit" ></div></th>
                    <th class="text-right"><div id="market-profit-jpy" ></div></th>
                    <th class="text-right"><div id="liq" ></div></th>
                    <th class="text-right"><div id="liq-jpy"></div></th>
                    <th class="text-right"><div id="profit" ></div></th>
                    <th class="text-right"><div id="profit-jpy" ></div></th>
                </tr>
            </tfoot>
         </table>
    </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    var table;
    var sum = {"value":0,"value_jpy":0,"liquidated":0,"liquidated_jpy":0};
    $(document).ready(function () {
        $.getJSON("{{ url_for('finance_page.stock_json')}}",
            function (data) {
                var rows = [];
                $.each(data,function(instrument_type,v){
                    $.each(v,function(idx,d){
                        var row = [instrument_type];
                        var value = d["value"];
                        var liquidated = d["liquidated"];
                        sum["value"] += value[value["ccy"]];
                        sum["value_jpy"] += value["JPY"];
                        sum["liquidated"] += liquidated[liquidated["ccy"]];
                        sum["liquidated_jpy"] += liquidated["JPY"];
                        row.push(
                                d["symbol"],
                                d["price"],
                                d["shares"],
                                value["ccy"],
                                0,//avg value
                                0,
                                value[value["ccy"]],
                                value["JPY"],
                                0,
                                0,
                                liquidated[liquidated["ccy"]],
                                liquidated["JPY"],
                                value[value["ccy"]]+liquidated[liquidated["ccy"]], //profit
                                value["JPY"]+liquidated["JPY"],
                                liquidated["rate_date"],
                                d["instrument"],
                                d["url"]
                        );
                        rows.push(row);
                    });
                });
                const num_cols = [2,3,5,6,7,8,9,10,11,12,13,14];
                const txt_cols = [0,1,4];
                table = populate_data(
                        '#stocks',
                        function(d,callback,s){callback({'data':rows});},
                        [[0, 'asc'], [1, 'asc']],
                        15,
                        null,
                        [
                            {
                                "render": function (data, type, row) {
                                //row[16] => instrument id =>index 16 in the json array assigned to this row
                                //see view.stock
                                return '<a href="#" onclick="showInstrumentDetail(' + row[16] + ');return false;">' + data + '</a>'
                                }, "targets": 1
                            },
                            { "render": function(data, type, row){return format_num(data);} ,"targets": num_cols },
                            { "className": "text-right", "targets": num_cols },
                            { "className": "text-center", "targets": txt_cols },
                        ],
                        null
                );

                install_detail_event_callback();

                $('#xccy_date').html(rows[0][15]);

                update_sum(table,'$',7 ,sum["value"],'#value');
                update_sum(table,'¥',8 ,sum["value_jpy"],'#value-jpy');
                update_sum(table,'$',11 ,sum["liquidated"],'#liq');
                update_sum(table,'¥',12 ,sum["liquidated_jpy"],'#liq-jpy');
                update_sum(table,'$',13 ,sum["value"]+sum["liquidated"],'#profit');
                update_sum(table,'¥',14,sum["value_jpy"]+sum["liquidated_jpy"],'#profit-jpy');

                $('#stocks').on('search.dt',function(e,settings){
                    update_sum(table,'$',7 ,sum["value"],'#value');
                    update_sum(table,'¥',8 ,sum["value_jpy"],'#value-jpy');
                    update_sum(table,'$',11 ,sum["liquidated"],'#liq');
                    update_sum(table,'¥',12 ,sum["liquidated_jpy"],'#liq-jpy');
                    update_sum(table,'$',13 ,sum["value"]+sum["liquidated"],'#profit');
                    update_sum(table,'¥',14,sum["value_jpy"]+sum["liquidated_jpy"],'#profit-jpy');
                });

            });
        });

</script>
{% endblock %}