@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
// if tailwind stuff are imported first the ag grid will be screwed up ...
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*
.ag-theme-alpine {
    @include ag-theme-alpine();
}
*/
// suppress border-style: solid which appears to be introduced by tailwind
// when parent element has a border-style ag-grid will always show a scrollbar
*,
*::before,
*::after {
  box-sizing: border-box;
  border-style: none;
}
