.portfolio-radio-button {
    margin-left: 10px;
}
.portfolio-label{
    font-weight: 600;
    margin-left: 15px;
    margin-right: 15px;
}
.alloc-pie-chart{
    height: 600px;
}

//need this to make it avaible to grid compoment 's sub elements
//https://blog.angular-university.io/angular-host-context/
::ng-deep{
  .sumRow{
    font-weight: bold;
    display: none;
  }
}
