<h1 class="tw-mx-auto tw-mt-3 tw-text-center">Overview</h1>
<ag-grid-angular
    class="ag-theme-alpine"
    [rowData]="overviewData"
    [columnDefs]="columnDefs"
    [domLayout]="'autoHeight'"
    [rowClassRules]="rowClassRules"
    >
</ag-grid-angular>
<div class="tw-mt-3">
  <label class="portfolio-label">Portfolios</label>
  <mat-radio-group
    class="portfolio-radio-group"
    (change)="onPortfolioChanged($event)"
    [(ngModel)]="selectedPortfolio">
    <mat-radio-button class="portfolio-radio-button" *ngFor="let portfolio of portfolioNames"
      [value]="portfolio">
      {{portfolio}}
    </mat-radio-button>
  </mat-radio-group>
</div>
<div class="tw-flex tw-flex-row tw-justify-between">
    <div class="tw-mt-3 tw-flex-1">
        <h1 class="tw-text-center">Wealth Allocations</h1>
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Asset">
                <ng-template matTabContent>
                    <div class="d-flex flex-column">
                        <div class="tw-mt-3">
                            Total Market Value : {{assetTotalValue | money:'JPY'}}
                        </div>
                        <div>
                            <div echarts [options]="assetAllocPieOption"   class="alloc-pie-chart"></div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Region">
                <ng-template matTabContent>
                    <div class="d-flex flex-column">
                        <div class="tw-mt-3">
                            Total Market Value : {{regionTotalValue | money:'JPY'}}
                        </div>
                        <div>
                            <div echarts [options]="regionAllocPieOption"  class="alloc-pie-chart"></div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Country">
                <ng-template matTabContent>
                    <div class="d-flex flex-column">
                        <div class="tw-mt-3">
                            Total Market Value : {{countryTotalValue | money:'JPY'}}
                        </div>
                        <div class="col-md-12">
                            <div echarts [options]="countryAllocPieOption" class="alloc-pie-chart"></div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="tw-mt-3 tw-flex-1">
        <h1 class="text-center">Instrument Allocations</h1>
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="ETF">
                <ng-template matTabContent>
                    <div class="d-flex flex-column">
                        <div class="tw-mt-3">
                            Total Market Value : {{etfTotalValue | money:'JPY'}}
                        </div>
                        <div>
                            <div echarts [options]="etfPieOption" class="alloc-pie-chart"></div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Stock">
                <ng-template matTabContent>
                    <div class="d-flex flex-column">
                        <div class="tw-mt-3">
                            Total Market Value : {{stockTotalValue | money:'JPY'}}
                        </div>
                        <div>
                            <div echarts [options]="stockPieOption" class="alloc-pie-chart"></div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="ETF & Stock">
                <ng-template matTabContent>
                    <div class="d-flex flex-column">
                        <div class="tw-mt-3">
                            Total Market Value : {{stockAndEtfTotalValue | money:'JPY'}}
                        </div>
                        <div>
                            <div echarts [options]="stockAndEtfPieOption" class="alloc-pie-chart"></div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
             <mat-tab label="Funds">
                <ng-template matTabContent>
                    <div class="d-flex flex-column">
                        <div class="tw-mt-3">
                            Total Market Value : {{fundsTotalValue | money:'JPY'}}
                        </div>
                        <div>
                            <div echarts [options]="fundsPieOption" class="alloc-pie-chart"></div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
