<h1 class="mx-auto mt-3 text-center">Overview</h1>
<ag-grid-angular
    class="ag-theme-alpine"
    [rowData]="overviewData"
    [columnDefs]="columnDefs"
    [domLayout]="'autoHeight'"
    >
</ag-grid-angular>
<div class="row mt-3">
    <div class="col-md-12 d-flex flex-row lign-items-center">
        <label class="portfolio-label">Portfolios</label>
        <mat-radio-group
            class="portfolio-radio-group"
            (change)="onPortfolioChanged($event)"
            [(ngModel)]="selectedPortfolio">
            <mat-radio-button class="portfolio-radio-button" *ngFor="let portfolio of portfolioNames"
             [value]="portfolio">
                {{portfolio}}
            </mat-radio-button>
        </mat-radio-group>
            <!--
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-warning" id="x">Customize Filter</button>
            </div>
            -->
    </div>
</div>
<div class="row top5 bottom5">
</div>