<h1 class="mx-auto mt-3 text-center">Overview</h1>
<ag-grid-angular
    class="ag-theme-alpine"
    [rowData]="overviewData"
    [columnDefs]="columnDefs"
    [domLayout]="'autoHeight'"
    >
</ag-grid-angular>
<div class="row mt-3">
    <div class="col-md-12 d-flex flex-row lign-items-center">
        <label class="portfolio-label">Portfolios</label>
        <mat-radio-group
            class="portfolio-radio-group"
            (change)="onPortfolioChanged($event)"
            [(ngModel)]="selectedPortfolio">
            <mat-radio-button class="portfolio-radio-button" *ngFor="let portfolio of portfolioNames"
             [value]="portfolio">
                {{portfolio}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-6">
        <h1 class="text-center">Wealth Allocations</h1>
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Asset">
                <div echarts [options]="assetAllocPieOption" class="alloc-pie-chart mt-3"></div>
            </mat-tab>
            <mat-tab label="Region">
                <div echarts [options]="regionAllocPieOption" class="alloc-pie-chart mt-3"></div>
            </mat-tab>
            <mat-tab label="Country">
                <div echarts [options]="countryAllocPieOption" class="alloc-pie-chart mt-3"></div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="col-md-6">
        <h1 class="text-center">Instrument Allocations</h1>
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Stock">Content 1</mat-tab>
            <mat-tab label="ETF">Content 2</mat-tab>
            <mat-tab label="Funds">Content 3</mat-tab>
        </mat-tab-group>
    </div>
</div>